body{
    margin: 0;
    padding: 0
}
.main{
    background-color: rgb(241, 218, 247);
    padding: 10px;
    display: none;
}
.form-container{
    width: 400px
}
.inp-color, .inp-type, .inp-code, #add_button{
    width: 100%;
    margin: 5px 0;
    border: 1px solid rgb(129, 129, 133);
    border-radius: 10px;
    padding: 5px 5px;
    outline: none;
    display: block
}
.inp-type{
    width: 40%
}
#add_button{
    background-color: rgb(255, 255, 255);
    transition: 1s
}
#add_button:hover{
    background-color: rgb(13, 17, 11);
    color: white;
    transition: 1s;
}

.all-colors-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-color{
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px
}
#green{
    background-color: rgb(154, 205, 50);
}
#blue{
    background-color: rgb(0, 139, 139, 1);
}
#orange{
    background-color: #FF4500;
}
#red{
    background-color: rgb(255, 0, 0);
}
#gray{
    background-color: rgb(80, 76, 76);
}
#violet{
    background-color: rgba(142, 0, 185, 0.582);
}
.sec-color{
    width: 250px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#warn_color, #warn_code{
    color: red;
    float: right;
    display: none
}

/*2*/
.main2{
    background-color: antiquewhite;
    padding: 10px;
}
.forms{
    display: inline-block;
}
.canvas-container{
    display: inline-block;
    margin-right: 100px;
}
#tutorial{
    background-color: rgb(202, 202, 202);
}
#tutorial, #circle, #rhombus, #trian{
    vertical-align: middle;
}
.colors-container{
    display: inline-block;
    margin-left: 100px
}
.colors{
    width: 180px;
}
.item-color{
    height: 15px;
    width: 15px;
    display: inline-flex;
    border: 0.2px solid black;
    cursor: pointer;
}
.paint{
    background-color: darkkhaki;
}
