/*1*/
.main-container{
    background-color: rgb(255, 250, 183);
    width: 110px;
    height: 52px
}

.number{
    display: block;
    height: 25px;
    font-size: 20px;
    background-color: rgb(236, 232, 172);
}
.btns{
    display: block;
}
.button{
    display: inline-block;
    height: 25px;
    width: 48%;
    margin: 0;
    background-color: transparent;
    border: 1px solid rgb(255, 187, 0);
}

/*2*/
.el-d{
    width: 50px;
    height: 30px;
    margin: 0 5px 0 0;
    display: inline-flex;
    background-color: red;
    
}

/*3*/
.color-div{
    background-color: rgb(245, 228, 192);
    padding: 10px;
}
.colors{
    width: 180px;
}
.item-color{
    height: 15px;
    width: 15px;
    display: inline-flex;
    border: 0.2px solid black;
    cursor: pointer;
}
#some-text{
    margin-top: 10px
}

/*4*/
.comments-container{
    background-color: rgb(203, 235, 173);
    padding: 10px;
}
.name{
    font-size: 16px
}
.date{
    margin-top: -20px;
    font-size: 12px
}
.comment{
    margin-top: -10px;
    font-size: 16px
}
#add_name{
    width: 200px
}
#add_comment{
    width: 500px;
    height: 50px;
    display: block;
    margin-bottom: 10px
}