.list-container{
    background-color: antiquewhite;
    padding: 10px
}
.list{
    list-style-type: circle
}
.list li{
    margin: 5px;
    font-size: 20px;
}
li a{
    color: black;
}
.list a:hover{
    color: rgb(109, 39, 223)
}
.liiDot{
    text-decoration-style: dotted;
}
.liiClear{
    text-decoration-style: none;
    text-decoration-line: none;
}

/*2*/
.dirs-tree{
    background-color: antiquewhite;
}
#tree_ul {
    margin: 0;
}
.opend{
    cursor: pointer;
    user-select: none;
}
.nested {
    display: none;
}
.active {
    display: block;
}
.opend:hover{
      font-weight: bold;
}

/*3*/
.book-container{
    background-color: rgb(205, 224, 205);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.book-list{
    width: 50%;
}
.orangeLi{
    background-color: brown;
}
/*4*/
.edit-text{
    background-color: rgb(255, 220, 226);
    padding: 10px;
}
#txt_area{
    display: none
}
.show-textarea{
    display: block !important;
    background-color: rgb(221, 242, 255);
    width: 100%;
}
.hide-textdiv{
    display: none;
}