.list-container{
    background-color: antiquewhite;
    padding: 10px
}
.list{
    list-style-type: circle
}
.list li{
    margin: 5px;
    font-size: 20px;
}
li a{
    color: black;
}
.list a:hover{
    color: rgb(109, 39, 223)
}
.liiDot{
    text-decoration-style: dotted;
}
.liiClear{
    text-decoration-style: none;
    text-decoration-line: none;
}